/* 
    колір основного тексту #757575 (Сірий) 
    колір допоміжного тексту(в основному заголовки) #212121 (Темно-чорний)
    акцент #2196F3 (Голубий)

    другор. колір фону #F5F4FA 
*/

:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-bg-color: #ffffff; 
    --secondary-bg-color: #2F303A;
    --primary-white-color: #FFFFFF;
    --secondary-button-color: #F5F4FA;
    --background-adress-color: rgba(255, 255, 255, 0.6);


}

p, ul, h1, h2, h3{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

body {
    color: var(--primary-text-color);
    background-color: var(--primary-bg-color);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
    font-size: 14px;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}


.container {
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

}

    /* Header */

.header-section {
    padding-bottom: 25px;
    padding-top: 24px;
    display: flex;
    justify-content: space-around;
}

.nav {
    display: flex;
    justify-content: space-around;
}
.logo {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    font-family: 'Raleway', sans-serif;
}
.logo-web {
    color: var(--accent-color);
}

.nav, .contact{
    display: flex;
    text-align: flex-start;
}

.nav-link, .nav-contact {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    margin-right: 50px;
}

.nav-contact{
    color: var(--primary-text-color);
}

.nav-link:hover, 
.nav-link:focus {
    color: var(--accent-color);
}

.nav-link.current{
    color: var(--accent-color);
}

.nav-contact:hover,
.nav-contact:focus {
    color: var(--accent-color);
}



/* Hero */
.hero {
    background-color: var(--secondary-bg-color);
    text-align: center;
    padding-top: 200px;
    padding-bottom: 280px;
    margin-bottom: 94px;
}

.hero-title {
    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 30px;

}

/* Button*/

.button {
    color: var(--title-text-color);
    background-color: var(--primary-bg-color);
    border-color: transparent;
    font-family: inherit;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    display: inline-block;
}

.button.primery-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    padding: 10px 32px;
    min-width: 216px;
}

.button.secondary-button {
    background-color: var(--secondary-button-color);
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;  
    padding: 6px 22px;
}

.button:hover,
.button:focus {
    background-color: var(--accent-color);
    color: var(--primary-bg-color);
}


/* Sections Title */

.section-title {
    color: var(--title-text-color);
    font-size: 36px;
    line-height: 1.27;
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
}


/* Features */

.hide {
    display: none;
}

.feature {
    display: flex;
    justify-content: center;
    margin-bottom: 94px;
    gap: 30px;
}
.feature-title {
    color: var(--title-text-color);
    line-height: 1.14;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 10px;
}

.feature-text {
    line-height: 1.71;
    margin-top: 0;
    margin-bottom: 0;
}

/* Activity */

.activity {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 94px;
}

/* Team */

.team {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.team-section{
    background-color: var(--secondary-button-color);
    padding: 94px 215px;
    margin-left: auto;
    margin-right: auto; 
}

.team-photo{
    margin-bottom: 30px;
}

.team-name {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    margin-bottom: 10px;
    text-align: center;
}

.team-position {
    font-size: 16px;
    line-height: 1.18;
    margin-bottom: 30px;
    text-align: center;
}

/* Footer */

.footer {
    background-color: var(--secondary-bg-color);
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 200px;
}

.logo-fr {
    color: var(--primary-white-color);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    font-family: 'Raleway', sans-serif;
    display: inline-block;
    margin-bottom: 20px;
}

.address-map {
    color: var(--primary-white-color);
    line-height: 1.71;
    font-style: normal;
}

.address-contact {
    color: var(--background-adress-color);
    line-height: 1.71;
    font-style: normal;
}

.address-map:hover,
.address-map:focus{
    color: var(--accent-color);
}

/* Portfolio*/

.portfolio-name {       
    color: var(--title-text-color);
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio-category {
    font-size: 16px;
    line-height: 1.87;
    color: var(--primary-text-color);
}